set alert {{via.adminEmail}}

# STONE
check process via_gemstone_stone matching "^/opt/.*/sys/stoned {{stoneName}} .*$"
			ONREBOOT START
			MODE ACTIVE
			start program = "/bin/bash -l /opt/via/via_base/server/start_stone.sh {{stoneName}}" as uid "{{remoteUser}}" gid "adm"
			stop program = "/bin/bash -l /opt/via/via_base/server/stop_stone.sh {{stoneName}}" as uid "{{remoteUser}}" gid "adm" with timeout 90 seconds
 			if 7 restarts within 10 cycles then stop
#			if totalmem > 700 Mb then alert
			if cpu > 60% for 4 cycles then alert

# NETLDI
check process via_gemstone_netldi matching "^/opt/.*/sys/netldid {{stoneName}}_ldi .*$"
			ONREBOOT START
			DEPENDS ON via_gemstone_stone
			MODE ACTIVE
			start program = "/bin/bash -l -c 'VIA_MONIT_USER={{remoteUser}} /opt/via/via_base/server/start_netldi.sh {{stoneName}}'" as uid "{{remoteUser}}" gid "adm"
			stop program = "/bin/bash -l /opt/via/via_base/server/stop_netldi.sh {{stoneName}}" as uid "{{remoteUser}}" gid "adm" with timeout 90 seconds
 			if 7 restarts within 10 cycles then stop
#			if totalmem > 700 Mb then alert
			if cpu > 60% for 4 cycles then alert


{% for port in via.gemPorts %}
# GEM ON PORT {{port}}
check process via_gemstone_gem_{{port}} with pidfile /opt/GsDevKit_home/server/stones/{{stoneName}}/logs/seaside{{port}}_server-{{port}}.pid
			DEPENDS ON via_gemstone_netldi
			ONREBOOT START
			GROUP via_gemstone_gems
			MODE ACTIVE
			start program = "/bin/bash -l /opt/via/via_base/server/start_web_gem.sh {{stoneName}} {{port}}" as uid "{{remoteUser}}" gid "adm"
			stop program = "/bin/bash -l /opt/via/via_base/server/stop_web_gem.sh {{stoneName}} {{port}}" as uid "{{remoteUser}}" gid "adm" with timeout 90 seconds
 			if 7 restarts within 10 cycles then stop
			if failed url http://127.0.0.1:{{port}}/ping and content == "OK" for 2 cycles then alert
#			if totalmem > 700 Mb then alert
			if cpu > 60% for 4 cycles then alert

{% endfor %}
