# Env vars for VIA
export GS_HOME=/opt/GsDevKit_home
export PATH=$GS_HOME/bin:$PATH
{% if via.gemStone.keyfile is defined %}
export GEMSTONE_KEYFILE="{{via.installationPath}}/install/gemstone.key"
{% endif %}
