// Common styles for print AND screen

@borderBottomClozePlaceholders: 1px solid black;
.clozeTextPlaceholder() {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: @borderBottomClozePlaceholders;
		border-radius: 0;
		margin: 0 4px;
		padding: 0px 4px;
		background-color: transparent;
}
